################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Convertor/debug
/Convertor/release/Convertor.tlog
