################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Convertor/debug
/Convertor/release/Convertor.tlog
/Convertor/release/_IsIncrementalBuild
/Convertor/release/widget.obj
/Convertor/release/velocityconvertor.obj
/Convertor/release/tempconvertor.obj
/Convertor/release/qt_work.log
/Convertor/release/moc_widget.obj
/Convertor/release/moc_widget.cpp
/Convertor/release/moc_velocityconvertor.obj
/Convertor/release/moc_velocityconvertor.cpp
/Convertor/release/moc_tempconvertor.obj
/Convertor/release/moc_tempconvertor.cpp
/Convertor/release/moc_predefs.h.cbt
/Convertor/release/moc_predefs.h
/Convertor/release/moc_lengthconvertor.obj
/Convertor/release/moc_lengthconvertor.cpp
/Convertor/release/main.obj
/Convertor/release/lengthconvertor.obj
/Convertor/release/Convertor.vcxproj.FileListAbsolute.txt
/Convertor/release/Convertor.exe.recipe
/Convertor/.qmake.stash
